a{
    color:#666;
}
table{
    table-layout:fixed;
    font-size:12px;
}
td{
     word-break:break-all
}
form.search{
    height:30px;
    width:40%;
    float:right;
    position:relative;
    top:-3px;
}
p.warning{
    color:red;
    font-size:12px;
    margin:5px;
}

a.write{
    font-size:12px;
    padding:10px 30px;
}
div.input-group select.select{
    width:25%;
    height:29px;
    float:left;
    margin:0;
    padding:0 5px;
    border-radius:0px;
    border:1px solid #ccc;
    border-collapse:collapse;
    position:relative;
    left:1px;
}
div.input-group input.search{
    float:left;
    width:75%;
    height:29px;
    font-size:12px;
}
h1.adminPage{
    font-size:15px;
    color:#999;
    font-weight:bold;
    font-style:italic;
    text-indent:10px;
    letter-spacing:2px;
}
h1.adminPage span{
    font-size:20px;
    color:mediumturquoise;
    text-decoration:underline;
}
table.adminPage{
    width:80%;
    margin:5% 10%;
}
table.adminPage tr{
    height:180px;
    border:1px solid #ddd;
}
table.adminPage th, table.adminPage td{
    text-align:center;
    border:1px solid #ddd;
    width:33%;
}
table.adminPage td{
    border:1px solid #ddd;
    text-align:center;
}

table.adminPage a{
    display:block;
    font-size:13px;
    color:#999;
    width:100%;
    height:100%;
    cursor:pointer;
    padding:30px 0;
}
table.adminPage a:hover{
    text-decoration:none;
}
table.adminPage h2{
    font-size:18px;
    font-weight:bold;
    letter-spacing:-1px;
    color:mediumturquoise;
}
table.table.nobd td{
    border:none;
    height:80px;
    line-height:80px;
    text-align:center;
    font-size:14px;
    font-weight:bold;
    padding:0;
    margin:0;
}
table.table.nobd button{
    font-size:13px;
    font-weight:bold;
    line-height:1.2;
    padding:20px 10px;
}
table td.user a{
    font-size:12px;
}
.btn-default{
    font-size:11px;
    padding:5px 10px;
}
a.golink{
    position:relative;
    left:50%;
    display:inline-block;
    width:100px;
    margin:20px 0 10px -50px;
    text-align:center;
}
a.golink:hover{
    text-decoration:none;
    color:mediumspringgreen;
}
form.user_info{
    width:50%;
    margin:0 25%;
}

td.user{
    position:relative;
    width:20%;
}
tr.commentlist td:not(.date){
    font-size:13px;
}
tr.notice{
    background:#eee;
    font-weight:bold;
}
tr.notice a{
    color:#333;
}
tr.comment td{
    font-size:12px;
}
td.date{
    font-size:11px;
}
ul.aboutUser{
    width:120px;
    position:absolute;
    left:50px;
    top:20px;
    display:none;
    z-index:3;
    margin:0;
    padding:0;
}
ul.aboutUser li{
    list-style:none;
    border:1px solid #ddd;
    border-collapse:collapse;
    margin-top:-1px;
    background:#fff;
    width:100%;
}
ul.aboutUser li a{
    color:#999;
    display:block;
    width:100%;
    font-size:12px;
    padding:5px;
    background:#fff;
}
ul.aboutUser li a:hover{
    text-decoration:none;
    color:mediumturquoise;
    background:#eee;
}
div.panel-heading.title span{
    font-size:12px;
    font-weight:bold;
    color:#666;
}
div.secret{
    text-align:right;
    
}
div.secret input{
    margin-right:10px;
}
div.button{
    text-align:center;
}
form.writeForm{
    width:80%;
    margin:5% 10%;
}
i.lock, i.fa-pencil, i.fa-hashtag{
    margin-left:5px;
    color:mediumturquoise;
}
i.fa-exclamation{
    color:red;
    margin-left:5px;
}
span.new{
    margin:0 3px;
    color:coral;
    font-size:11px;
    font-weight:bold;
}
span.tag{
    color:mediumturquoise;
    font-size:12px;
    font-weight:bold;
}
span.new.default{
    color:#999;
}
span.cnt{
    letter-spacing:-1px;
    font-size:11px;
    color:#999;
    margin-left:10px;
}
select.select{
    margin-left:10px;
    width:100px;
    height:30px;
    font-size:12px;
    padding:5px;
    border-radius:10px;
}
p.writer{
    font-size:13px;
}
p.category{
    color:darkturquoise;
    font-size:12px;
}
p.article_content{
    padding:30px 10px;
    font-size:13px;
}
ul.nav.nav-tabs.category{
    position:absolute;
    top:0;
    left:100px;
    height:43px;
    border:none;
    float:left;
}
ul.nav.nav-tabs.category li a{
    height:43px;
    line-height:43px;
    font-size:12px;
    padding:0 10px;
    margin:0;
    border:none;
    border-top:1px #ddd solid;
    border-radius:0;
}

ul.nav.nav-tabs.category li a:hover, ul.nav.nav-tabs.category li a:active{
    background:#fff;
    color:mediumturquoise;
}
ul.nav.nav-tabs.category li a:visited{
    background:#fff;
}
div.form-group.tag-group{
    float:left;
}
input#inputtags{
    width:90%;
    height:25px;
    display:inline-block;
    margin-bottom:10px;
}
span.tagname{
    margin:0 4px;
}
span.tagname a{
    color:white;
    margin-left:2px;
}
a.taglist:hover{
    color:coral;
}
div#tags{
    clear:both;
    height:30px;
}
h3.tag_notice{
    color:#777;
    font-weight:600;
    letter-spacing:-1.5px;
    margin-bottom:50px;
}
h3.tag_notice i{
    line-height:1.5;
}
h3.tag_notice span{
    font-size:0.6em;
    font-weight:normal;
    letter-spacing:2px;
}
a.tagCloud{
    font-size:12px;
    font-weight:bold;
    margin:10px;
    color:#999;
}
a.tagCloud.many{
    font-size:20px;
    font-weight:bold;
    margin:10px;
    color:#666;
}
a.tagCloud.toomany{
    font-size:30px;
    font-weight:bold;
    margin:10px;
    color:#333;
}
a.tagCloud:hover{
    color:mediumspringgreen;
    text-decoration:none;
}
a.navbar-brand.small{
    font-size:0.9em;
}
div.favorite{
    width:80px;
    height:80px;
    margin:0 auto 20px auto;
    border:1px #ddd solid;
    box-shadow:0 0 5px #ccc;
}
div.favorite:active{
    box-shadow:0 0 0 #ccc;
}
a.favorite{
    display:block;
    width:100%;
    height:100%;
    padding:20px 0;
    line-height:18px;
    text-align:center;
    font-size:12px;
}
a.favorite:active span:not(.cnt_fav), i.fa-heart-o, i.fa-heart{
    color:hotpink;
}
a.favorite{
    font-size:16px;
    font-weight:bold;
    text-decoration:none;
}
a.favorite:hover, div.prev_next a:hover{
    text-decoration:none;
}
a.favorite span{
    font-size:12px;
}
a.favorite span.cnt_fav{
    font-size:18px;
}
div.prev_next{
    width:130px;
    height:150px;
    margin:0 auto;
}
div.prev_next a.prev{
    float:left;
}
div.prev_next a.next{
    float:right;
}
div.prev_next a:hover i{
    color:hotpink;
}